$highlight: #ee2b47;
$highlight-dark: rgba($highlight, 0.8);
$success: #2A9D8F;
$success-dark: rgba($success, 0.8);
$warning: #FBAF00;
$warning-dark: rgba($warning, 0.8);
$danger: #6A7FDB;
$danger-dark: rgba($danger, 0.8);

$card-background: #2c2c3c;
$card-primary-text: #f7f7f7;
$card-sub-text: #6d7074;
$background: #48485e;

$card-box-shadow-left: -10px 0 10px rgba(0, 0, 0, 0.2);
$card-box-shadow-right: 10px 0 10px rgba(0, 0, 0, 0.2);
$card-box-shadow-top: 0 -10px 10px rgba(0, 0, 0, 0.2);
$card-box-shadow-bottom: 0 10px 10px rgba(0, 0, 0, 0.2);

$card-box-shadow-around: 3px 3px 12px 0 rgba(0, 0, 0, 0.3);

$pacman-size: 40px;
